<%= form_for( list, :remote => true ) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :tabindex => 10001, :value => '{{title}}' %>
  </div>
  <div class="actions">
    <%= f.submit :tabindex => 10003 %>
		<button id="list-back-button" tabindex="10004">Back</button>
  </div>
<% end %>
