html, body {
	margin:0;
	height:0;
	width:100%;
	height:100%;
	overflow:hidden;
}

#wrapper {
	width:100%;
	height:100%;
}

#application {
	width:100%;
	height:100%;
}

#header {
	height:100px;
	width:100%;
	border-bottom:3px solid #000;
}

.ajax-indicator {
	vertical-align:middle;
}

#ajax-indicator {
	display:none;
}

.ui-layout-content {
	margin:0;
	padding:0;
}

.header {
	padding:10px;
}

#header-image {
	margin:0;
	padding:0;
}

.ui-layout-north {
	overflow:hidden !important;
}

#list-toolbar {
	height:50px;
	max-height:50px;
}

#list-toolbar > div {
	display:inline !important;
	float:left;
}

#list-toolbar > button {
	display:inline;
	float:left;
}

* {
	outline:0;
}

/*--------------------*/

.selected-row {
	border: 2px solid #009426;
}

.row {
	margin:5px;
}

.row:nth-child(odd){
	background-color:#F6F0D2;
}
/*--------------------*/