html, body {
	margin:0;
	height:0;
	width:100%;
	height:100%;
	overflow:hidden;
	font-size:10pt;
}

#wrapper {
	width:100%;
	height:100%;
}

#application {
	width:100%;
	height:100%;
}

.ajax-indicator {
	vertical-align:middle;
}

#ajax-indicator {
	display:none;
}

.ui-layout-content {
	margin:0;
	padding:0;
}

#main-menu {
	position:absolute;
	right:0;
	top:0;
	margin:10px;
}

#main-menu a {
	text-decoration:none;
	color: #333;
}

#main-menu a:hover {
	text-decoration:underline;
}

.header {
	padding:10px;
}


#flash_notice {
	margin:0;
	padding:5px;
	background-color:#9f9;
	border:2px solid #0f0;
}

#flash_alert {
	margin:0;
	padding:5px;
	background-color:#f99;
	border:2px solid #f00;
}

#header-image {
	margin:0;
	padding:0;
}

.ui-layout-north {
	overflow:hidden !important;
}

* {
	outline:0;
}

.clickable {
	cursor:pointer;
}

/*--------------------*/
#list-toolbar {
	height:100px;
	max-height:100px;
}

#list-toolbar > div {
	display:inline !important;
	float:left;
}

#list-toolbar > button {
	display:inline;
	float:left;
}

#search-list, #list-item-search {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:2px solid #CDC3B7;
	height:20px;
	left:float;
	margin:8px 5px 0;
	padding:5px;
	width:150px;
}

.selected-row {
	border: 1px solid #009426 !important;
	overflow-y:auto !important;
	overflow-x:hidden !important;
}

.row {
	margin:0px;
	padding:7px;
	background-image:url(/images/item_background.gif);
	background-repeat: repeat-x;
	overflow:hidden;
}

#list-form form, #list-form input[type=text] {
	width:90%;
}

button, input[type=submit] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #444;
	padding: 5px;
	margin: 5px;
	background-color: #F6F0D2;
}

button:hover, input[type=submit]:hover {
	background-color: #aaa;
}

button:focus, input[type=submit]:focus {
	background-color: #aaa;
}

.fake-drop {
	background-image:url(/images/drop-background.jpg);
	background-repeat:no-repeat;
	background-color:#fff;
	font-size:0.8em !important;
	height:30px;
	margin:10px;
	border: 1px dashed #999;
	padding-left:35px;
	vertical-align:middle;
}

.fake-drop p {
	margin-top:5px;
}

#list-search-cancel {
	background-image:url(/images/cancel.gif);
	background-repeat:no-repeat;
	width:15px;
	height:15px;
	position:relative;
	left:160px;
	top:17px;
}


/*--------------------*/


#deadline-settings {
	width:100px;
	float:left;
}

#deadline {
	float:left;
	width:100px;
	height:100px;
	font-size:1.5em;
	color:#787878;
	text-align:center;
	vertical-align:middle;
}

#deadline-settings-wrapper {
	display:none;
}

#deadline {
	background-image:url(/images/clock_icon.gif);
	background-repeat:no-repeat;
}

#list-item-toolbar {
	height:70px;
	max-height:70px;
}

#list-name {
	text-decoration:underline;
	font-weight:bold;
	color:#666;
	margin: 0 10px;
}

#list-item-toolbar-buttons > button {
	display:inline;
	float:left;
}

#list-item-toolbar > button {
	display:inline;
	float:left;
}

.list-item-wrapper > .completed, .list-item-wrapper > .list-item-content {
	margin:0;
	float:left;
}

.list-item-info {
	float:right;
	width:120px;
	text-align:right;
}

.list-item-deadline {
	font-color:#888;
	font-size:0.8em;
}

.list-item, .list {
	border-bottom: 3px solid #efefef;
}

.undo > img {
	vertical-align:middle;
	margin:0 10px 0 0;
	padding:0;
}

.header label {
	vertical-align:middle;
	font-size:10pt;
}

.header input {
	vertical-align:middle;
}

#completedList {
	margin: 0 0 20px 50px;
	font-size:10pt;
}

#completedList > div {
	padding:4px;
	width:90%;
	border-bottom:2px solid #ddd;
}

#completedList > div:nth-child(odd){
	background-color:#eee;
}

#cancel-edit {
	height:35px;
	margin:0;
	width:200px;
}

.list-item-drag-helper {
	font-size:0.8em !important;
	padding:5px;
	margin:10px;
	border: 1px dashed #999;
	background-color:#fff;
}

.handle {
	background-image:url(/images/handle.gif);
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	position:relative;
	left:-4px;
	top:-6px;
	float:left;
}

 #list-item-search-cancel {
	background-image:url(/images/cancel.gif);
	background-repeat:no-repeat;
	width:15px;
	height:15px;
	position:relative;
	left:355px;
	top:-23px;
}

/*--------------------*/