html, body {
	margin:0;
	height:0;
	width:100%;
	height:100%;
	overflow:hidden;
	font-size:10pt;
}

#wrapper {
	width:100%;
	height:100%;
}

#application {
	width:100%;
	height:100%;
}

.ajax-indicator {
	vertical-align:middle;
}

#ajax-indicator {
	display:none;
	text-align:center;
	width:100%;
	font-size:1.7em;
}

#mainlayout-south #notice {
	font-size:1.4em;
	width:100%;
	text-align:center;
}

.ui-layout-content {
	margin:0;
	padding:0;
}

#main-menu {
	position:absolute;
	right:0;
	top:0;
	margin:10px;
}

#main-menu a {
	text-decoration:none;
	color: #333;
}

#main-menu a:hover {
	text-decoration:underline;
}

.header {
	padding:10px;
}


#flash_notice {
	margin:0;
	padding:5px;
	background-color:#9f9;
	border:2px solid #0f0;
}

#flash_alert {
	margin:0;
	padding:5px;
	background-color:#f99;
	border:2px solid #f00;
}

#header-image {
	margin:0;
	padding:0;
}

.ui-layout-north {
	overflow:hidden !important;
}

* {
	outline:0;
}

.clickable {
	cursor:pointer;
}

/*--------------------*/

/* LISTS */

.list-name {
	margin:5px;
	float:left;
	width:90%;
}

.list-tag {
	width:10px;
	float:left;
}

#list-toolbar {
	height:25px;
	max-height:25px;
}

#list-toolbar > div {
	display:inline !important;
	float:left;
}

#list-toolbar > button {
	display:inline;
	float:left;
	width:20px;
	height:20px;
}

.selected-row {
	border: 1px solid #009426 !important;
	overflow-y:auto !important;
	overflow-x:hidden !important;
}

#list-list .row {
	margin:0px;
	background-image:url(/images/item_background.gif);
	background-repeat: repeat-x;
	overflow:hidden;
}

#list-form form, #list-form input[type=text] {
	width:90%;
}

button, input[type=submit] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #444;
	padding: 5px;
	margin: 5px;
	background-color: #F6F0D2;
}

button:hover, input[type=submit]:hover {
	background-color: #aaa;
}

button:focus, input[type=submit]:focus {
	background-color: #aaa;
}

.fake-drop {
	background-image:url(/images/drop-background.jpg);
	background-repeat:no-repeat;
	background-color:#fff;
	font-size:0.8em !important;
	height:30px;
	margin:10px;
	border: 1px dashed #999;
	padding-left:35px;
	vertical-align:middle;
}

.fake-drop p {
	margin-top:5px;
}

/*--------------------*/

/* LIST ITEMS */

#list-item-list .row {
	margin:0px;
	padding:7px;
	background-image:url(/images/item_background.gif);
	background-repeat: repeat-x;
	overflow:hidden;
}

#showCompleted {
	margin:3px 3px 3px 10px;
}

#deadline-settings {
	width:100px;
	float:left;
}

#deadline {
	float:left;
	width:150px;
	height:100px;
	font-size:1.5em;
	color:#787878;
	text-align:center;
	vertical-align:middle;
	background-image:url(/images/clock_icon.gif);
	background-repeat:no-repeat;
	background-position:25px;
}

#deadline-settings-wrapper {
	display:none;
}

#list-item-toolbar {
	height:50px;
	max-height:50px;
}

#list-name {
	text-decoration:underline;
	font-weight:bold;
	color:#666;
	margin: 0 10px;
}

#list-item-toolbar-buttons > button {
	display:inline;
	float:left;
	width:20px;
	height:20px;
}

#list-item-toolbar > button {
	display:inline;
	float:left;
}

.list-item-wrapper > .completed, .list-item-wrapper > .list-item-content {
	margin:0;
	float:left;
	width:600px;
}

.list-item-info {
	float:right;
	width:120px;
	text-align:right;
}

.list-item-deadline {
	font-color:#888;
	font-size:0.8em;
}

.list-item, .list {
	border-bottom: 3px solid #efefef;
}

.undo > img {
	vertical-align:middle;
	margin:0 10px 0 0;
	padding:0;
}

.header label {
	vertical-align:middle;
	font-size:10pt;
}

.header input {
	vertical-align:middle;
}

#completedList {
	margin: 0 0 20px 50px;
	font-size:10pt;
}

#completedList > div {
	padding:4px;
	width:90%;
	border-bottom:2px solid #ddd;
}

#completedList > div:nth-child(odd){
	background-color:#eee;
}

#cancel-edit {
	height:35px;
	margin:0;
	width:200px;
}

.list-item-drag-helper {
	font-size:0.8em !important;
	padding:5px;
	margin:10px;
	border: 1px dashed #999;
	background-color:#fff;
}

.handle {
	background-image:url(/images/handle.gif);
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	position:relative;
	left:-4px;
	top:-6px;
	float:left;
}

#custom-deadline {
	position:relative;
	top:-45px;
	left:115px;
}

#custom-deadline-display {
	margin:10px;
	width:95px;
}

/*--------------------*/

/* DASHBOARD */

.schedule-column {
	float:left;
	border-right:3px solid #dedede;
	padding:15px;
	width:20%;
	word-wrap: break-word;
}

.schedule-column > h1 {
	font-size:1.5em;
	font-weight:bold;
	color:#ababab;
}

#later {
	margin-top:20px;
}

#later > h1 {
	font-size:1.5em;
	font-weight:bold;
	color:#ababab;
}

#dashboard-header > h1 {
	font-size:2em;
	font-weight:bold;
	color:#666;
	float:left;
}

.dashboard-list-item {
	border-top:1px solid #bbb;
	padding:3px;
}

.dashboard-list-item-title, .dashboard-list-item-deadline {
	font-size:0.7em;
	color:#aaa;
	cursor:pointer;
	padding: 0 3px 0;
}

.dashboard-list-item-title:hover, .dashboard-list-item-deadline:hover {
	text-decoration:underline;
}

.dashboard-item-more {
	font-size:0.7em;
	color:#aaa;
	cursor:pointer;
}

.dashboard-item-completed {
	background-image:url(/images/checked_green_grey_12.gif);
	background-repeat:no-repeat;
	background-position: 0 -12px;
	height:12px;
	width:12px;
	cursor:pointer;
	margin: 3px 0 3px 0;
}

.dashboard-item-completed:hover {
	background-position: 0 0;
}

.confirmation-completed {
	font-size:0.7em;
	color:#777;
}

.yes:hover, .no:hover {
	text-decoration:underline;
}

.tooltip {
  background-color: #F6F0D2;
  border: 1px solid #DECA7E;
	position: absolute;
	z-index: 3;
	padding:10px;
	display: none;
	font-size:1.3em;
	color:#000;
	overflow-x:hidden;
	overflow-y:auto;
	width:250px;
	height: 150px;
}

.nothing-todo {
	font-style:italic;
	color:#aaa;
	font-size:1.1em;
	font-family:Times sarif;
	padding:10px;
}

#dashboard-header {
	height:50px;
}

.full-content {
	display:none;
}

.dashboard-item > .dashboard-list-item {
	cursor:pointer;
}


/*--------------------*/

/* TAGS */

#tags {
	height:150;
}

#tags-header {
	color:#ababab;
	font-size:0.8em;
	border-bottom:1px solid #ababab;
	margin:0;
	padding:15px 2px 2px 5px;
}

#add-tag {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:2px solid #CDC3B7;
	height:10px;
	left:float;
	margin:3px 5px 0;
	padding:5px;
	width:80px;
	font-size:0.8em;
}

.tags {
	height:80px;
	overflow-x:hidden;
	overflow-y:auto;
}

.tag {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size:0.7em;
	margin:1px;
	padding:1px 3px 1px 1px;
	display:inline-block;
	cursor:pointer;
}

.color-selector {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  border: 1px solid #000;
  display: inline-block;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
  width: 10px;
	font-size:0.9em;
	cursor:pointer;
}

#tag-toolbar > button {
	width:20px;
	height:20px;
	margin:10px 2px 10px 2px;
	display:inline;
	top:8px;
}

#tag-toolbar {
	margin: 0 0 5px 0;
}

.color {
	width:10px;
	height:10px;
	float:left;
	margin:2px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	font-size:0.7em;
}

.color:hover {
	border:1px solid #000;
}

.tag-menu {
	position:absolute;
	background-color:#fff;
	border: 1px solid #CDC3B7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
	width:100px;
	height:90px;
}

.delete-label:hover {
	text-decoration:underline;
}

.delete-label {
	font-size:0.7em;
	color:#f00;
	text-decoration:none;
}

.assigned-tags {
	font-size:0.7em;
	padding-top:10px;
	line-height:2em;
}

.assigned-tag {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding:1px;
	margin:2px;
	white-space:nowrap;
}

.assigned-tag-delete {
	cursor:pointer;
}

.assigned-tag-delete:hover {
	text-decoration:underline;
}

.tag-selected {
	border-width:2px !important;
}


/*--------------------*/

/* ULTIMATE SEARCH WIDGET */

#ultimate-search-widget {
	position:absolute;
	top:25px;
	left:450px;
}

#ultimate-search-text {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:2px solid #CDC3B7;
	height:25px;
	left:float;
	margin:3px 5px 0;
	padding:5px;
	width:300px;
	font-size:20px;
}

#ultimate-search-text-cancel {
	background-image:url(/images/cancel.gif);
	background-repeat:no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	left:295px;
	top:15px;
	cursor:pointer;
}

#searchOptions {
	margin-left:10px;
}

.searchOptionCheckbox {
	margin:5px 6px 3px 3px;
}

.searchOptionLabel {
	font-size:0.8em;
	color:#aaa;
}

/*--------------------*/
