html, body {
	margin:0;
	height:0;
	width:100%;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	font-size:10pt;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color:#333;
}

#wrapper {
	width:700px;
	margin: 50px auto;
	border:15px solid #eee;
	background-color:#fff;
	padding:20px;
	overflow-x:none;
	overflow-y:auto;
}

input[type=text], input[type=password] {
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
		border:2px solid #aaa;
		height:20px;
		margin:2px 5px 0;
		padding:5px;
}

input[type=text]:focus, input[type=password]:focus {
	background-color:#eee;
}

input[type=submit] {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background-color:#eee;
	border:2px solid #aaa;
	margin:8px 5px 0;
	padding:3px;
	outline:0;
}

input[type=submit]:focus, input[type=submit]:hover {
	background-color:#fbcc64;
}

label {
	margin:8px 5px 0;
	font-weight:bold;
}

p {
	margin:10px 0 2px;
}

#left, #right {
	height:100%;
	float:left;
	width:50%;
}

h1 {
	font-size:1.8em;
	font-weight:bold;
	text-align:center;
	padding: 10px 0;
}

h3 {
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	padding: 10px 0;
}

h4 {
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	padding: 10px 0;
}

.center {
	text-align:center;
}

a {
	color:#333;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#flash_notice {
	margin:0;
	padding:5px;
	background-color:#9f9;
	border:2px solid #0f0;
}

#flash_alert {
	margin:0;
	padding:5px;
	background-color:#f99;
	border:2px solid #f00;
}

form {
	margin:0 10px;
}

#cancel-account h6 {
	font-size:12pt;
	color:#f00;
	font-weight:bold;
	margin: 20px 10px 10px 10px;
}

#cancel-account {
	border:2px solid #f00;
	margin:40px 0 10px;
	background-color:#fee;
}

#cancel-account p {
	margin:20px;
}

#username {
	font-size:12pt;
	font-weight:bold;
	color:#666;
}