<div class="tag-menu">
	<div class="colors">
		<% (1...24).each do |i| %>
			<div class="color c<%= i %>" data-colorclass="c<%= i %>">a</div>
			<% if i % 6 == 0 %>
				<br />
			<% end %>
		<% end %>
	</div>
	<a class="delete-label" href="#">Delete Label</a>
</div>