<div class="dashboard-item">
	<div class="dashboard-list-item list-item-content">
		{{{body_shortend}}}
	</div>
	{{#list}}
		<div class="dashboard-list-item-title">In &quot;{{title}}&quot;</div>
	{{/list}}
	<div class="dashboard-list-item-deadline">@{{deadline_date}}</div>
	<input type="hidden" class="dashboard-list-item-deadline-hidden"/>
	<div class="dashboard-item-completed"></div>
</div>