<div class="list-item row" tabindex="0">
	  <div class="field completed">
			<button class="complete-button">Complete</button>
	  </div>
	  <div class="list-item-content">
				{{completed}}-{{body}}
	  </div>
		<div style="clear:both;height:0px;"></div>
</div>