<div class="list-item row" tabindex="0">
	<div class="list-item-wrapper">
	  <div class="field completed">
			<div id="completed">
				
			</div>
	  </div>
	  <div class="list-item-content">
				{{completed}}-{{body}}
	  </div>
		<div style="clear:both;height:0px;"></div>
	</div>
</div>