<div class="list-item row" tabindex="0">
	  <div class="field completed">
			<input type="checkbox" id="list_item_completed" name="list_item[completed]">
	  </div>
	  <div class="list-item-content">
				{{body}}
	  </div>
		<div style="clear:both;height:0px;"></div>
</div>