<div class="list-item row" tabindex="0">
	<div class="list-item-wrapper">
		<div class="list-items-tools">
		  <div class="field completed">
		  </div>
		  <div class="field delete">
		  </div>
		</div>
	  <div class="list-item-content">
			{{{body_rendered}}}
	  </div>
		<div style="clear:both;height:0px;"></div>
	</div>
</div>