<div class="list-item row" tabindex="0">
	<div class="list-item-wrapper">
		<div class="handle">&nbsp;</div>
	  <div class="list-item-content">
			{{{body_shortend}}}
	  </div>
		<div class="list-item-info">
			<div class="list-item-deadline">
				{{deadline_in_words}}
			</div>
			<div class="body-length">
				~{{body_word_count}} words
			</div>
		</div>
		<div style="clear:both;height:0px;"></div>
	</div>
</div>